body{
    color:#111;
    background-color: #eee;
}
body.dark{
    color:#eee;
    background-color: #111;
}

#titolo{
    color: blue;
    font-family: monospace;
    font-weight: bolder;
    text-align: center;
    backdrop-filter: blur(10px);
}


img{
    filter:grayscale(1);
    transition: filter .5s linear;
}
img:hover{
    filter:grayscale(0);
}

h1::before, h1::after{
    content: '--';
}

input[type="file"]{
    display: none;
}

div#indice.indice{
    border:1px solid black;
}

table{
    border-collapse: separate;
}
tr:nth-child(odd) td{
    background-color:#ddd;
}
td:first-child{
    border-radius: 5px;
}

p.conclusione:not(.non-evidenziato){
    background-color:#0f0;
}


.bg-image{
    position:relative;
}

.bg-image>img{
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
}