.overlay{
    display: none;
    position: fixed;
    background-color: rgba(0,0,0, 0.3);
    top:0;
    left:0;
    width:100vw;
    height: 100vh;

    /* inset: 0; */
}
.modal{
    position: fixed;
    inset: 30%;
    display: none;
    border: 1px solid #000;
    border-radius: 5px;
    padding:2rem;
    background-color:#fff;
    flex-flow:column;
    justify-content: center;
    align-items: center;
}

input{
    padding:.5rem;
    margin-bottom:.5rem;
    width:100%;
}